* {
  box-sizing: border-box;
  background: rgb(223, 193, 255);
  color: rgb(0, 0, 0);
}

body {
  margin: 0;
}

.standard-page {
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.title-header {
  margin: 2px;
}

.title-button {
  margin: 2px;
}

.title-and-button {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

input[type="text"] {
  width: 100%;
  padding: 5px 5px;
  margin: 1px 0;
  /* box-sizing: border-box; */
}
input[type="date"] {
  width: 100%;
  padding: 5px 5px;
  margin: 1px 0;
  /* box-sizing: border-box; */
}
input[type="time"] {
  width: 100%;
  padding: 5px 5px;
  margin: 1px 0;
  /* box-sizing: border-box; */
}
input[type="int"] {
  width: 100%;
  padding: 5px 5px;
  margin: 1px 0;
  /* box-sizing: border-box; */
}

.nav {
  border: 1px solid rgb(93, 35, 251);
  background-color: rgb(148, 111, 251);
  display: flex;
  justify-content: center;
  align-items: stretch;
  /* gap: 2rem; */
  padding: 0 1rem;
  height: 100px;
}

.nav a {
  color: #ffffff;
  background-color: rgb(148, 111, 251);
  text-decoration: none;
  height: 100%;
  display: flex;
  width: 70px;
  padding: 0.25rem;
}

.nav ul {
  background-color: rgb(148, 111, 251);
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
  max-height: 7rem;
  align-items: center;
}

.nav-logo {
  background-color: rgb(148, 111, 251);
  max-height: 100%;
  max-width: 100%;
  flex-grow: 2;
}

.site-title {
  font-size: 1.5rem;
  background-color: rgb(148, 111, 251);
}

/* .nav li.active {
  background-color: #555;
}

.nav li:hover {
  background-color: #777;
} */

.list-title {
  /* border: 1px solid #182a37; */
  text-align: center;
  margin-bottom: 1px;
  margin-top: 1px;
}

.show-list-items {
  /* border: 1px solid #ff0000; */
  text-align: center;
  margin-bottom: 5px;
}

.show-list-items p {
  font-size: 1rem;
  margin: 1px;
}

.show-list-items h1 {
  font-size: 2rem;
  margin: 1px;
}

.song-list-items {
  color: rgb(0, 0, 0);
  /* border: 1px solid #ff0000; */
  text-align: center;
  margin-bottom: 5px;
  margin-top: 10px;
}

.song-list-items p {
  font-size: 1rem;
  margin: 1px;
}

.song-list-items h1 {
  font-size: 2rem;
  margin: 5px;
}

.home-logo {
  padding: 0;
  display: block;
  margin: 0 auto;
  max-height: 50%;
  max-width: 50%;
}

.album-thumbnail-logo {
  padding: 0;
  display: block;
  max-height: 20%;
  max-width: 20%;
}

.inst-thumbnail-logo {
  padding: 0;
  display: block;
  max-height: 10%;
  max-width: 10%;
}

.dev {
  color: rgb(255, 25, 25);
  text-align: center;
  margin-bottom: 1px;
  margin-top: 1px;
}

.add-show-button {
  margin: 10px;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 14px;
  line-height: 14px;
  padding: 8px;
  border-radius: 10px;
  font-family: Georgia, serif;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  background-image: linear-gradient(
    to right,
    rgb(148, 111, 251) 0%,
    rgb(128, 83, 250) 50%,
    rgb(112, 61, 254) 100%
  );
  box-shadow: rgb(0, 0, 0) 1px 5px 15px 1px;
  border: 2px solid rgb(93, 35, 251);
}

/* .add-show-button:hover {
  background: rgb(189, 165, 255);
}

.add-show-button:active {
  background: rgb(148, 111, 251);
} */

/* .add-show {
  /* border: 1px solid #ff0000; */
/* text-align: center; */
/* } */

.add-show-form {
  margin: 10px;
}

.add-show-form-field {
  margin: 1px;
}

.add-song {
  border: 1px solid #ff0000;
  text-align: center;
}

.add-song-form {
  margin: 10px;
}

.add-song-form-field {
  margin: 1px;
}

.dev-box {
  /* border: 1px solid #6e2bff;
  border-width: 3px; */
  width: 100%;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.edit-show {
  color: #cfcece;
}

.button-standard {
  color: rgb(255, 255, 255);
  font-size: 12px;
  line-height: 12px;
  padding: 7px;
  border-radius: 8px;
  font-family: Georgia, serif;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  background-image: linear-gradient(
    to right,
    rgb(148, 111, 251) 0%,
    rgb(128, 83, 250) 50%,
    rgb(112, 61, 254) 100%
  );
  box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px;
  border: 2px solid rgb(93, 35, 251);
  display: inline-block;
  margin: 2px;
}

.myButton:hover {
  background: #1c6ea4;
}
.myButton:active {
  background: #144e75;
}

/* POPUP  ************************************************************ */
.modal {
  font-size: 12px;
}
.modal-header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal-content {
  width: 100%;
  padding: 10px 5px;
  color: #cfcece;
}
.modal-actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal-close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}

[role="tooltip"].popup-content {
  width: 98%;
  box-shadow: 0 0 3px rgb(0 0 0 / 16%);
  border-radius: 5px;
  border: 1px solid rgb(93, 35, 251);
  background: rgb(223, 193, 255);
}
/* POPUP ************************************************************ */

/* Drag and Drop ************************************************************ */
.dnd-body {
  margin: 0;
}

.dnd-container {
  background-color: #333;
  padding: 1rem;
  margin: 1rem;
}

.dnd-container-left {
  background-color: #333;
  padding: 1rem;
  margin: 1rem;
  float: left;
  width: 45%;
}

.dnd-container-right {
  background-color: #333;
  padding: 1rem;
  margin: 1rem;
  float: right;
  width: 45%;
}

.dnd-draggable {
  padding: 1rem;
  background-color: white;
  border: 1px solid black;
  cursor: move;
}

.dnd-draggable.dragging {
  opacity: 0.5;
}

.dnd-white-title {
  color: rgb(255, 255, 255);
}

/* Drag and Drop ************************************************************ */
